*{
  
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  
  background-color: #05292E;
  height: 900px;
}
.date  {
  display: flex;
 }
 .date p {
   color: antiquewhite;
   text-align: center;
   margin:2rem  9rem;
   width: max-content;
   
 }
.list{
 margin:  1rem 2.5rem;
  list-style: none;
  font-size: 12px;
  width: max-content;
}

.navbar{
  width: 1440px;
  background-color:#071d21 ;
  text-align: center;
  padding-bottom: 1rem;
 
 
}
.navbar h2{
  color: antiquewhite;
 
}
.input input{
  letter-spacing:2px;
  font-family: fantasy;
  color: antiquewhite;
  font-size:15px;
  text-align: center;
  padding: .5rem;
  width: 500px;
  border-radius: 7px;
  background-color:#443737b5;
}
.input button{
  cursor: pointer;
  padding:.5rem 2rem;
  margin: 5px;
  background-color:#443737b5;
  border:none;
  border-radius: 4px;
  font-size: 15px;
  color:antiquewhite;
 
}
.contenedor{

  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.card img{
  width: 180px;
  border-radius:25px ;
}
.card{
  display:flex;
  align-items: center;
  padding:15px;
  border-radius: 25px;
  width:500px;
  color: antiquewhite;
  background: #071d21;
  margin:1rem 0 ;
}
@media only screen and (max-width: 350px){

 
.image img{
  width: 738px;
}
.navbar{
 width:738px; 
}
.contenedor{
  display: flex;
  flex-direction: column;
}

.date p{
  margin:2rem  4rem;
}
.card{
  display: flex;
  margin: 1.5rem 6rem;
}
 }
   
 